.notification {
    .notice {
      background-color: burlywood;
      color: $white;
      text-align: center;
    }
  
    .alert {
      background-color: $alert_orange;
      color: $white;
      text-align: center;
    }
  }